*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* #Navbar{
  background: transparent;
} */

.glassMorphismNavbar{
  background: linear-gradient(45deg,	rgba(255, 53, 94 ,0.8),  rgba(73, 151, 208 , 0.5) , 	rgba(255, 183, 213, 0.5) , 	rgb(250, 250, 55,0.8) );  
}

#Navbar:hover{ 
  background: linear-gradient(45deg,	rgba(255, 53, 94 ,0.8),  rgba(73, 151, 208 , 0.5) , 	rgba(255, 183, 213, 0.5) , 	rgb(250, 250, 55,0.8) );
}


::-webkit-scrollbar-thumb{
  background-color: brown
}
::-webkit-scrollbar-track{
  background-color: rgba(255, 255, 255, 0.2);
}

#leftLeftContent::-webkit-scrollbar-track , #LiveStream::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0.2);
}
#leftLeftContent::-webkit-scrollbar-thumb , #LiveStream::-webkit-scrollbar-thumb{
    background-color: brown;
}



.hideScrollbar::-webkit-scrollbar , #discoverHome::-webkit-scrollbar,#caraousel::-webkit-scrollbar , #caraousel1::-webkit-scrollbar , #caraousel2::-webkit-scrollbar {
  display: none;
}
.animate-shake{
  animation: shake 0.5s ease-in-out infinite;
}

/*  animation */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}